.educationContainer {
    display: flex;
    flex-direction: column;
  }
  
  form label {
    margin: 10px 0 5px;
    font-weight: bold;
  }
  
  form input {
    margin-bottom: 15px;
    padding: 8px;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  